@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	/* 基础字体大小 */
	font-size: 12px;
	font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* 主题色 */
	--blog-text-primary: 79, 70, 229;
	/* hover颜色 */
	--blog-hover: 79, 70, 229;
	/* 默认背景色 */
	--blog-bg-color: 247, 249, 254;
	/* 默认卡片背景色 */
	--blog-card-bg-color: 255, 255, 255;
	/* 默认边框颜色 */
	--blog-card-border-color: 227, 232, 247;
	/* 默认边框宽度 */
	--blog-card-border-width: 1px;
	/* 默认圆角 */
	--blog-card-border-radius: 12px;
	/* 默认阴影色 */
	--blog-card-show: 0 8px 16px -4px #2c2d300c;
	/* 文字颜色 */
	--blog-text: 54, 54, 54;
	/* 文字颜色 白 */
	--blog-text-black: 255, 255, 255;
	/* 文字颜色 desc */
	--blog-text-desc: 255, 255, 255;
}

:root .dark {
	font-size: 12px;
	/* 基础字体大小 */
	font-size: 12px;
	/* 主题色 */
	--blog-text-primary: 255, 200, 72;
	/* hover颜色 */
	--blog-hover: 79, 70, 229;
	/* 默认背景色 */
	--blog-bg-color: 24, 23, 29;
	/* 默认卡片背景色 */
	--blog-card-bg-color: 27, 28, 32;
	/* 默认边框颜色 */
	--blog-card-border-color: 61, 61, 63;
	/* 默认边框宽度 */
	--blog-card-border-width: 1px;
	/* 默认圆角 */
	--blog-card-border-radius: 1px;
	/* 默认阴影色 */
	--blog-card-show: 0 8px 16px -4px #00000050;
	/* 文字颜色 */
	--blog-text: 247, 247, 250;
	/* 文字颜色 黑 */
	--blog-text-black: 33, 35, 42;
	/* 文字颜色 desc */
	--blog-text-desc: 27, 28, 32;
}

@media (prefers-color-scheme: light) {
	:root .auto {
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 214, 219, 220;
		--background-end-rgb: 255, 255, 255;
		/* 基础字体大小 */
		font-size: 12px;
		font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
			BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
		/* 主题色 */
		--blog-text-primary: 79, 70, 229;
		/* hover颜色 */
		--blog-hover: 79, 70, 229;
		/* 默认背景色 */
		--blog-bg-color: 247, 249, 254;
		/* 默认卡片背景色 */
		--blog-card-bg-color: 255, 255, 255;
		/* 默认边框颜色 */
		--blog-card-border-color: 227, 232, 247;
		/* 默认边框宽度 */
		--blog-card-border-width: 1px;
		/* 默认圆角 */
		--blog-card-border-radius: 12px;
		/* 默认阴影色 */
		--blog-card-show: 0 8px 16px -4px #2c2d300c;
		/* 文字颜色 */
		--blog-text: 54, 54, 54;
		/* 文字颜色 白 */
		--blog-text-black: 255, 255, 255;
		/* 文字颜色 desc */
		--blog-text-desc: 255, 255, 255;
	}
}

@media (prefers-color-scheme: dark) {
	:root .auto {
		font-size: 12px;
		/* 主题色 */
		--blog-text-primary: 255, 200, 72;
		/* hover颜色 */
		--blog-hover: 79, 70, 229;
		/* 默认背景色 */
		--blog-bg-color: 24, 23, 29;
		/* 默认卡片背景色 */
		--blog-card-bg-color: 27, 28, 32;
		/* 默认边框颜色 */
		--blog-card-border-color: 61, 61, 63;
		/* 默认边框宽度 */
		--blog-card-border-width: 1px;
		/* 默认圆角 */
		--blog-card-border-radius: 1px;
		/* 默认阴影色 */
		--blog-card-show: 0 8px 16px -4px #00000050;
		/* 文字颜色 */
		--blog-text: 247, 247, 250;
	}
}

@layer base {
	:root {
		/* 基础字体大小 */
		font-size: 12px;
		/* 主题色 */
		--blog-text-primary: 79, 70, 229;
		/* hover颜色 */
		--blog-hover: 79, 70, 229;
		/* 默认背景色 */
		--blog-bg-color: 247, 249, 254;
		/* 默认卡片背景色 */
		--blog-card-bg-color: 255, 255, 255;
		/* 默认边框颜色 */
		--blog-card-border-color: 227, 232, 247;
		/* 默认边框宽度 */
		--blog-card-border-width: 1px;
		/* 默认圆角 */
		--blog-card-border-radius: 1px;
		/* 默认阴影色 */
		--blog-card-show: 0 8px 16px -4px #2c2d300c;
		/* 文字颜色 */
		--blog-text: 54, 54, 54;
	}
	:root .dark {
		font-size: 12px;
		/* 基础字体大小 */
		font-size: 12px;
		/* 主题色 */
		--blog-text-primary: 255, 200, 72;
		/* hover颜色 */
		--blog-hover: 79, 70, 229;
		/* 默认背景色 */
		--blog-bg-color: 24, 23, 29;
		/* 默认卡片背景色 */
		--blog-card-bg-color: 27, 28, 32;
		/* 默认边框颜色 */
		--blog-card-border-color: 61, 61, 63;
		/* 默认边框宽度 */
		--blog-card-border-width: 1px;
		/* 默认圆角 */
		--blog-card-border-radius: 1px;
		/* 默认阴影色 */
		--blog-card-show: 0 8px 16px -4px #00000050;
		/* 文字颜色 */
		--blog-text: 247, 247, 250;
	}
	@media (prefers-color-scheme: dark) {
		:root {
			font-size: 12px;
			/* 主题色 */
			--blog-text-primary: 255, 200, 72;
			/* hover颜色 */
			--blog-hover: 79, 70, 229;
			/* 默认背景色 */
			--blog-bg-color: 24, 23, 29;
			/* 默认卡片背景色 */
			--blog-card-bg-color: 27, 28, 32;
			/* 默认边框颜色 */
			--blog-card-border-color: 61, 61, 63;
			/* 默认边框宽度 */
			--blog-card-border-width: 1px;
			/* 默认圆角 */
			--blog-card-border-radius: 1px;
			/* 默认阴影色 */
			--blog-card-show: 0 8px 16px -4px #00000050;
			/* 文字颜色 */
			--blog-text: 247, 247, 250;
		}
	}
}

body {
	/* color: rgb(var(--foreground-rgb)); */
	color: black;
	/* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
	background: white;
	min-height: 100vh;
}
